Assignment link : https://drive.google.com/file/d/1RjQBjq90BeqNuon_JUlrih7Tnda732cs/view

1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
```
* --> Expression
'hello' --> Values
-87.8 --> Values
- --> Expression
/ --> Expression
+ --> Expression
6 --> Values
```

2. What is the difference between string and variable?

* String : It is a value assigned to some variable. String can be in between single/double quote, can change during runtime.
* Variable : This is name which holds the data in memory, can't be changed during runtime.

3. Describe three different data types.

* int  -> Integer, which is number 
* str  -> String, Any string data
* bool -> Boolean -> True/False

In [ ]:
a = 10 
b = "hi"
c = True
print(type(a))
print(type(b))
print(type(c))

4. What is an expression made up of? What do all expressions do?
* A combination of operands and operators is called an expression.
* An expressions can do various operations like airthmetic operations , ex : a = 2 b = 3 , print(a + b) --> 5 , Logical, Comparsion, Bitwise etc

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
* A statement is not evaluated for some results. Ex = spam = 10
* An expression is evaluated for some results. ex : a = 2 b = 3 , print(a == b) --> False

6. After running the following code, what does the variable bacon contain?
```
bacon = 22
bacon + 1
```

``` bacon contains 22, if the second line is bacon += 1 => Then the bacon contains 23```

7. What should the values of the following two terms be?
```
'spam' + 'spamspam'
'spam' * 3
```

```'spam' + 'spamspam'  => 'spamspamspam' ==> This is appents two strings```

``` 'spam' * 3 ==> 'spamspamspam' ==> Appends `spam` three times  ```

8. Why is eggs a valid variable name while 100 is invalid?

``` eggs => It is not reserved keyword and varibale can be anything should start with letter```

``` 100 => variable should not start with digits, can be valid if it is _100```

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

```
The int(), float(), and str() functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.
```

In [ ]:
value = 10.25
print(int(value))

value = "10"
print(float(value))

value = 10.25
print(str(value))

10. Why does this expression cause an error? How can you fix it?
``` 'I have eaten' + 99 + ' burritos.' ```

``` 
* The error is because of cocncatenating the integer with string.
* This can be fixed by adding the single quoytes around 99
```

In [ ]:
'I have eaten ' + '99' + ' burritos.'